.main-container {
    height: 1024px;
    background-image: url("https://file2.nocutnews.co.kr/newsroom/image/2023/05/12/202305121639003107_0.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}