.management-container {
    display: flex;
    flex-direction: column;
    height: 1096px;
}

.management-header {
    height: 25%;
    background-image: url("https://media.istockphoto.com/id/90974750/ko/%EB%B2%A1%ED%84%B0/%EC%B2%AD%EC%82%AC%EC%A7%84-%EB%B0%B0%EA%B2%BD-cogs.jpg?s=1024x1024&w=is&k=20&c=IN1xdIoShmdP7pliCTERBXF7P2_iTSvSdtpsTLXmfjA=");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.management-header-title {
    color: white;
    font-size: 55px;
    font-weight: bold;
    height: 40%;
    letter-spacing: 30px;
}
.management-content {
    height: 65%;
    display: flex;
    justify-content: center;
}
.management-content-box {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.management-content-box-menu-list {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-right: 1px solid black;
    padding: 15px;
}
.management-content-box-menu-detail {
    width: 75%;
    padding-top: 20px;
}
.management-content-box-menu-list-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    border-bottom: 2px solid #BCBCBC;
}
.management-content-box-menu-list-box div {
    padding: 5px 0;
}
.management-content-box-menu-list-box-category {
    font-weight: bold;
}
.management-content-box-menu-list-box-subcategory:hover {
    cursor: pointer;
}

/* management-movie-list */
.management-movie-list-container {}
.management-movie-list-title {
    font-size: 25px;
    font-weight: bold;
}
.management-movie-list-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-movie-list-content-box {
    width: 800px;
}
.management-movie-list-content-box-row-search {
    display: flex;
    justify-content: space-between;
}
.management-movie-list-content-box-row-search-col-left {
    display: flex;
}
.management-movie-list-content-box-row-search-col-right {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-movie-list-content-box-row-table {
}

/* management-movie-register */
.management-movie-register-container {}
.management-movie-register-title {
    font-size: 25px;
    font-weight: bold;
}
.management-movie-register-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-movie-register-content-box {
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-movie-register-content-box-top {
}
.management-movie-register-content-box-top-row {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}
.management-movie-register-content-box-top-row-col-title {}
.management-movie-register-content-box-top-row input {
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    width: 72%;
    height: 25px;
}
.management-movie-register-content-box-bottom {
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.management-movie-register-content-box-bottom textarea {
    width: 95%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}
.management-movie-register-content-box-bottom-row-attachment {
    display: flex;
    justify-content: end;
    align-items: center;
}
.management-movie-register-content-box-bottom-row-col-icon {
    font-size: 23px;
}
.management-movie-register-content-box-bottom-row-col-attachment {}
.management-movie-register-content-box-bottom-row-buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* management-movie-detail */
.management-movie-detail-container {}
.management-movie-detail-title {
    font-size: 25px;
    font-weight: bold;
}
.management-movie-detail-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-movie-detail-content-box {
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-movie-detail-content-box-top {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}
.management-movie-detail-content-box-top-image {
    width: 40%;
    height: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/ko/2/25/%EC%95%8C%EB%9D%BC%EB%94%98_2019%EB%85%84_%ED%8F%AC%EC%8A%A4%ED%84%B0.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.management-movie-detail-content-box-top-detail {
    width: 55%;
}
.management-movie-detail-content-box-top-row {
    padding: 7px 0;
}
.management-movie-detail-content-box-top-row-col-title {}
.management-movie-detail-content-box-top-row input {
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    width: 72%;
    height: 25px;
}
.management-movie-detail-content-box-bottom {
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.management-movie-detail-content-box-bottom textarea {
    width: 95%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}
.management-movie-detail-content-box-bottom-row-attachment {
    display: flex;
    justify-content: end;
    align-items: center;
}
.management-movie-detail-content-box-bottom-row-col-icon {
    font-size: 23px;
}
.management-movie-detail-content-box-bottom-row-col-attachment {}
.management-movie-detail-content-box-bottom-row-buttons {
    width: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* management-movie-modify */
.management-movie-modify-container {}
.management-movie-modify-title {
    font-size: 25px;
    font-weight: bold;
}
.management-movie-modify-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-movie-modify-content-box {
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-movie-modify-content-box-top {
    height: 40%;
    display: flex;
    justify-content: space-between;
}
.management-movie-modify-content-box-top-image {
    width: 40%;
    height: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/ko/2/25/%EC%95%8C%EB%9D%BC%EB%94%98_2019%EB%85%84_%ED%8F%AC%EC%8A%A4%ED%84%B0.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.management-movie-modify-content-box-top-detail {
    width: 55%;
}
.management-movie-modify-content-box-top-row {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}
.management-movie-modify-content-box-top-row-col-title {}
.management-movie-modify-content-box-top-row input {
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    width: 72%;
    height: 25px;
}
.management-movie-modify-content-box-bottom {
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.management-movie-modify-content-box-bottom textarea {
    width: 95%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}
.management-movie-modify-content-box-bottom-row-attachment {
    display: flex;
    justify-content: end;
    align-items: center;
}
.management-movie-modify-content-box-bottom-row-col-icon {
    font-size: 23px;
}
.management-movie-modify-content-box-bottom-row-col-attachment {}
.management-movie-modify-content-box-bottom-row-buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* management-cinema-list */
.management-cinema-list-container {}
.management-cinema-list-title {
    font-size: 25px;
    font-weight: bold;
}
.management-cinema-list-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-cinema-list-content-box {
    width: 800px;
}
.management-cinema-list-content-box-row-search {
    display: flex;
    justify-content: space-between;
}
.management-cinema-list-content-box-row-search-col-left {
    display: flex;
}
.management-cinema-list-content-box-row-search-col-right {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-cinema-list-content-box-row-table {
}

/* management-cinema-register */
.management-cinema-register-container {}
.management-cinema-register-title {
    font-size: 25px;
    font-weight: bold;
}
.management-cinema-register-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-cinema-register-content-box {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-cinema-register-content-box-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.management-cinema-register-content-box-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-cinema-register-content-box-top-row-col-title {}
.management-cinema-register-content-box-top-row input {
    border-radius: 5px;
    width: 165px;
    height: 30px;
    border: 1px solid #BCBCBC;
}
.management-cinema-register-content-box-bottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: end;
}

/* management-theater-list */
.management-theater-list-container {}
.management-theater-list-title {
    font-size: 25px;
    font-weight: bold;
}
.management-theater-list-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-theater-list-content-box {
    width: 800px;
}
.management-theater-list-content-box-row-search {
    display: flex;
    justify-content: space-between;
}
.management-theater-list-content-box-row-search-col-left {
    display: flex;
}
.management-theater-list-content-box-row-search-col-right {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-theater-list-content-box-row-table {
}

/* management-theater-register */
.management-theater-register-container {}
.management-theater-register-title {
    font-size: 25px;
    font-weight: bold;
}
.management-theater-register-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-theater-register-content-box {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-theater-register-content-box-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.management-theater-register-content-box-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-theater-register-content-box-top-row-col-title {}
.management-theater-register-content-box-top-row input {
    border-radius: 5px;
    width: 165px;
    height: 30px;
    border: 1px solid #BCBCBC;
}
.management-theater-register-content-box-bottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: end;
}

/* management-seat-list */
.management-seat-list-container {}
.management-seat-list-title {
    font-size: 25px;
    font-weight: bold;
}
.management-seat-list-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-seat-list-content-box {
    width: 800px;
}
.management-seat-list-content-box-row-search {
    display: flex;
    justify-content: space-between;
}
.management-seat-list-content-box-row-search-col-left {
    display: flex;
}
.management-seat-list-content-box-row-search-col-right {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-seat-list-content-box-row-table {
}

/* management-seat-register */
.management-seat-register-container {}
.management-seat-register-title {
    font-size: 25px;
    font-weight: bold;
}
.management-seat-register-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-seat-register-content-box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-seat-register-content-box-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.management-seat-register-content-box-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-seat-register-content-box-top-row-col-title {}
.management-seat-register-content-box-top-row input {
    border-radius: 5px;
    width: 165px;
    height: 30px;
    border: 1px solid #BCBCBC;
}
.management-seat-register-content-box-bottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: end;
}

/* management-timetable-list */
.management-timetable-list-container {}
.management-timetable-list-title {
    font-size: 25px;
    font-weight: bold;
}
.management-timetable-list-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-timetable-list-content-box {
    width: 800px;
}
.management-timetable-list-content-box-row-search {
    display: flex;
    justify-content: space-between;
}
.management-timetable-list-content-box-row-search-col-left {
    display: flex;
}
.management-timetable-list-content-box-row-search-col-right {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-timetable-list-content-box-row-table {
}

/* management-timetable-register */
.management-timetable-register-container {}
.management-timetable-register-title {
    font-size: 25px;
    font-weight: bold;
}
.management-timetable-register-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-timetable-register-content-box {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-timetable-register-content-box-top {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.management-timetable-register-content-box-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-timetable-register-content-box-top-row-col-title {}
.management-timetable-register-content-box-top-row input {
    border-radius: 5px;
    width: 165px;
    height: 30px;
    border: 1px solid #BCBCBC;
}
.management-timetable-register-content-box-bottom {
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-self: end;
}

/* management-genre-list */
.management-genre-list-container {}
.management-genre-list-title {
    font-size: 25px;
    font-weight: bold;
}
.management-genre-list-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-genre-list-content-box {
    width: 800px;
}
.management-genre-list-content-box-row-search {
    display: flex;
    justify-content: space-between;
}
.management-genre-list-content-box-row-search-col-left {
    display: flex;
}
.management-genre-list-content-box-row-search-col-right {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-genre-list-content-box-row-table {
}

/* management-genre-register */
.management-genre-register-container {}
.management-genre-register-title {
    font-size: 25px;
    font-weight: bold;
}
.management-genre-register-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-genre-register-content-box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-genre-register-content-box-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.management-genre-register-content-box-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-genre-register-content-box-top-row-col-title {}
.management-genre-register-content-box-top-row input {
    border-radius: 5px;
    width: 165px;
    height: 30px;
    border: 1px solid #BCBCBC;
}
.management-genre-register-content-box-bottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: end;
}