.management-container {
    display: flex;
    flex-direction: column;
    height: 1024px;
}

.management-header {
    height: 25%;
    background-image: url("https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}
.management-header-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 40%;
    letter-spacing: 30px;
}
.management-content {
    height: 65%;
    display: flex;
    justify-content: center;
}
.management-content-box {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.management-content-box-menu-list {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-right: 1px solid black;
    padding: 15px;
}
.management-content-box-menu-detail {
    width: 75%;
    padding-top: 20px;
}
.management-content-box-menu-list-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    border-bottom: 2px solid #BCBCBC;
}
.management-content-box-menu-list-box div {
    padding: 5px 0;
}
.management-content-box-menu-list-box-category {
    font-weight: bold;
}
.management-content-box-menu-list-box-subcategory:hover {
    cursor: pointer;
}

/* management-movie-list */
.management-movie-list-container {}
.management-movie-list-title {
    font-size: 25px;
    font-weight: bold;
}
.management-movie-list-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-movie-list-content-box {
    width: 800px;
}
.management-movie-list-content-box-row-search {
    display: flex;
    justify-content: space-between;
}
.management-movie-list-content-box-row-search-col-left {
    display: flex;
}
.management-movie-list-content-box-row-search-col-right {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.management-movie-list-content-box-row-table {
}

/* management-movie-register */
.management-movie-register-container {}
.management-movie-register-title {
    font-size: 25px;
    font-weight: bold;
}
.management-movie-register-content {
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
}
.management-movie-register-content-box {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.management-movie-register-content-box-top {
}
.management-movie-register-content-box-top-row {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}
.management-movie-register-content-box-top-row-col-title {}
.management-movie-register-content-box-top-row input {
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    width: 72%;
    height: 25px;
}
.management-movie-register-content-box-bottom {
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.management-movie-register-content-box-bottom textarea {
    width: 95%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}
.management-movie-register-content-box-bottom-row-attachment {
    display: flex;
    justify-content: end;
    align-items: center;
}
.management-movie-register-content-box-bottom-row-col-icon {
    font-size: 23px;
}
.management-movie-register-content-box-bottom-row-col-attachment {}
.management-movie-register-content-box-bottom-row-buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}