.movie-detail-container {
    display: flex;
    flex-direction: column;
    height: 1024px;
}

.movie-detail-header {
    height: 25%;
    background-image: url("https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}
.movie-detail-header-title {
    color: white;
    font-size: 55px;
    font-weight: bold;
    height: 40%;
    letter-spacing: 30px;
}
.movie-detail-content {
    height: 65%;
    display: flex;
    justify-content: center;
}
.movie-detail-content-box {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}
.movie-detail-content-box-top {
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.movie-detail-content-box-middle {
    height: 30%;
}
.movie-detail-content-box-bottom {
    height: 10%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #8b8b8b;
}
.movie-detail-content-box-image {
    width: 45%;
    background-image: url("https://upload.wikimedia.org/wikipedia/ko/2/25/%EC%95%8C%EB%9D%BC%EB%94%98_2019%EB%85%84_%ED%8F%AC%EC%8A%A4%ED%84%B0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.movie-detail-content-box-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
.movie-detail-content-box-content-title {
    height: 20%;
    font-size: 30px;
    font-weight: bold;
}
.movie-detail-content-box-content-box {
    height: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.movie-detail-content-box-content-box-common {
    height: 10%;
}
.movie-detail-content-box-content-box-score {
    height: 10%;
    display: flex;
}
.movie-detail-content-box-content-box-tag {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.movie-detail-content-box-content-box-reservation {
    height: 10%;
}