.mypage-container {
    display: flex;
    flex-direction: column;
    height: 1024px;
}

.mypage-header {
    height: 25%;
    background-image: url("https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}
.mypage-header-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 40%;
    letter-spacing: 30px;
}
.mypage-content {
    height: 65%;
    display: flex;
    justify-content: center;
}
.mypage-content-box {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.mypage-content-box-menu-list {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-right: 1px solid black;
    padding: 15px;
}
.mypage-content-box-menu-detail {
    width: 75%;
    padding-top: 20px;
}
.mypage-content-box-menu-list-box {
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    border-bottom: 2px solid #BCBCBC;
}
.mypage-content-box-menu-list-box div {
    padding: 5px 0;
}
.mypage-content-box-menu-list-box-category {
    font-weight: bold;
}
.mypage-content-box-menu-list-box-subcategory:hover {
    cursor: pointer;
}

.mypage-reservation-title {
    font-size: 25px;
    font-weight: bold;
}
.mypage-reservation-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mypage-reservation-search-left {
    display: flex;
}
.mypage-reservation-table {}

.mypage-modify-container {
    height: 100%;
}
.mypage-modify-title {
    font-size: 25px;
    font-weight: bold;
}
.mypage-modify-detail {
    width: 60%;
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;
    padding: 20px 0;
}
.mypage-modify-detail-box {
    width: 480px;
}
.mypage-modify-detail-box-row-button-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 10px 0;
}
.mypage-modify-detail-box-row-button-with input {
    border: none;
    border-bottom: 1px solid #BCBCBC;
}
.mypage-modify-detail-box-col-title {
}
.mypage-modify-detail-box-col-input {
    display: flex;
    justify-content: space-between;
    width: 63%;
}
.mypage-modify-detail-box-row-button-without {
    display: flex;
    justify-content: space-between;
    width: 67%;
    margin: 10px 0;
}
.mypage-modify-detail-box-row-button-without input {
    border: none;
    border-bottom: 1px solid #BCBCBC;
}
.mypage-modify-detail-box-row-only-input {
    display: flex;
    justify-content: end;
    width: 66%;
}
.mypage-modify-detail-box-row-only-input input {
    border: none;
    border-bottom: 1px solid #BCBCBC;
}
.mypage-modify-detail-box-row-only-button {
    display: flex;
    justify-content: end;
    width: 85%;
}