.nav-container {
    background: rgba(0, 0, 0, 0.7);
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.nav-box-big {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-box-small-left {
    align-self: center;
    width: 25%;
    display: flex;
    justify-content: start;
}

.nav-box-small-right {
    align-self: center;
    width: 30%;
    display: flex;
    justify-content: end;
}

.nav-box-small-link {
    color: white;
    margin-left: 10px;
}

.nav-box-small-link a {
    color: white;
    text-decoration-line: none;
    font-size: 23px;
}

.nav-box-small-link button {
    color: white;
    background: none;
    border: none;
    font-size: 23px;
}

.nav-box-small-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("https://cdn.pixabay.com/photo/2014/03/25/16/57/clapper-297673_640.png");
    background-size: 100% 100%;
    background-color: white;
}