.nav-container {
    background: rgba(0, 0, 0, 0.7);
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-box-big {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-box-small-left {
    align-self: center;
    width: 25%;
    display: flex;
    justify-content: start;
}

.nav-box-small-right {
    align-self: center;
    width: 30%;
    display: flex;
    justify-content: end;
}

.nav-box-small-link {
    color: white;
    margin-left: 10px;
}

.nav-box-small-link a {
    color: white;
    text-decoration-line: none;
    font-size: 23px;
}

.nav-box-small-link button {
    color: white;
    background: none;
    border: none;
    font-size: 23px;
}

.nav-box-small-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("https://an2-img.amz.wtchn.net/image/v2/zDnGorH9D34otwy-HUhVwA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1USTRNSGczTWpCeE9EQWlYU3dpY0NJNklpOTJNaTl6ZEc5eVpTOXBiV0ZuWlM4eE5qRTFPRGMwTlRJeU56UXlNVFl6TURZNUluMC5jcUtHdGtfUGhOWjJrc1I5d2stSWRPcVpwOXF2QXQ0TjF0clgzTFEtVktR");
    background-size: 100% 100%;
}