.select-score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-score-container text {
    font-size: 20px;
}
.select-score-button-box-middle {
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.select-score-button-box-middle button {
    width: 52px;
    height: 35px;
    border-radius: 20px;
    border: 3px solid #CDD8FF;
    background-color: white;
    color: #8b8b8b;
    font-size: 15px;
}
.select-score-button-box-end button {
    background: #CDD8FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
}