.timetable-container {
    display: flex;
    flex-direction: column;
    height: 1024px;
}

.timetable-header {
    height: 25%;
    background-image: url("https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}
.timetable-header-title {
    color: white;
    font-size: 55px;
    font-weight: bold;
    height: 40%;
    letter-spacing: 30px;
}
.timetable-content {
    height: 65%;
    display: flex;
    justify-content: center;
}
.timetable-content-box {
    display: flex;
    flex-direction: column;
}
.timetable-content-box-top {
    display: flex;
    align-self: center;
}
.timetable-content-box-middle {
    display: flex;
    justify-content: end;
}
